<div class="d-none d-lg-flex flex-row justify-content-around align-items-center round-border">
    <div class="d-flex">
        <div class="d-flex flex-column align-items-center">
            <div class="d-flex">
                <span class="text-secondary">
                    <i class="bi bi-geo"></i>
                    <span class="me-1">
                        <%= pwx.city.name %>
                    </span>
                </span>
            </div>

            <div class="d-flex align-items-center my-1">
                <img class="wx-icon" src="<%= pwx.icon %>">
                <span class="fw-bold">
                    <%= pwx.weather %>
                </span>
            </div>

            <div class="d-flex text-muted">
                <span class="mx-1">
                    <i class="bi bi-thermometer-half"></i>
                    <%= `${pwx.temp || "--"}°${pwx.tempUnit}` %>
                </span>
                <span class="mx-1">
                    <i class="bi bi-droplet-half"></i>
                    <%= `${pwx.rh || "--"}%` %>
                </span>
            </div>
        </div>
    </div>

    <div class="d-flex mx-1" style="height: 5.5rem;">
        <div class="vr"></div>
    </div>

    <% forecasts.forEach(function(wx, index) { %>
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center w-auto">
                <% var _d = new Date(wx.date); %>

                <% if (query.datetime == "weekday") { %>
                    <span class="text-muted me-1">
                        <%= _d.toLocaleString(iso639, {weekday:'long'})%>
                    </span>
                <% } else { %>
                    <span>
                        <%= `${_d.getDate()}/${_d.getMonth() + 1}` %>
                    </span>
                <% } %>
                
            </div>
            <div class="d-flex justify-content-center align-items-center" style="height: 68px;">
                <img class="wx-icon wx-icon-sm" src="<%= wx.icon %>">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span class="d-inline-flex mx-1 text-primary">
                    <% if (forecasts.length < 7) { %>
                        <i class="bi bi-thermometer-low"></i>
                    <% } %>

                    <%= `${wx.temp.min}°${wx.temp.unit}` %>
                </span>
                <span class="d-inline-flex mx-1 text-danger">
                    <% if (forecasts.length < 7) { %>
                        <i class="bi bi-thermometer-high"></i>
                    <% } %>
                    
                    <%= `${wx.temp.max}°${wx.temp.unit}` %>
                </span>
            </div>
        </div>
    <% }) %>
    <% if (forecasts.length == 0) { %>
        <div class="d-flex justify-content-center w-75">
            <span class="text-danger">
                Forecast Not Available
            </span>
        </div>
    <% } %>
</div>