<div class="d-flex flex-column flex-nowrap">
    <div class="d-flex flex-column align-items-center my-1 round-border">
        <div class="d-flex my-1">
            <span class="text-secondary">
                <i class="bi bi-geo"></i>
                <span class="me-1">
                    <%= pwx.city.name %>
                </span>
            </span>
        </div>

        <div class="d-flex justify-content-around align-items-center my-1">
            <img class="wx-icon" src="<%= pwx.icon %>">

            <span class="fw-bold fs-4">
                <%= `${pwx.temp}°${pwx.tempUnit}` %>
            </span>

            <div class="d-flex mx-2" style="height: 2.5rem;">
                <div class="vr"></div>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex my-1">
                    <span class="text-muted">
                        <i class="bi bi-droplet-half"></i>
                        <%= `${pwx.rh || "--"}%` %>
                    </span>
                </div>
                <div class="d-flex my-1">
                    <span class="text-muted">
                        <i class="bi bi-wind"></i>
                        <% if (pwx.wind) { %>
                            <%= `${pwx.wind.direction} ${pwx.wind.speed || "--"} m/s` %>
                        <% } else { %>
                            --
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <% forecasts.forEach(function(wx, index) { %>
        <div class="d-flex flex-row my-1 round-border">
            <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center">
                <% var _d = new Date(wx.date); %>
                <span class="text-muted" style="font-size: 0.57rem;">
                    <%= _d.toLocaleString(query.locale, {weekday:'long'})%>
                </span>
                <span>
                    <%= _d.getDate() %>
                </span>
            </div>
            <div class="d-flex justify-content-center align-items-center" style="min-width: 30%;">
                <img src="<%= wx.icon %>" style="width: 50px;">
            </div>
            <div class="d-flex justify-content-center align-items-center flex-fill">
                <span class="text-primary mx-1">
                    <i class="bi bi-thermometer-low"></i>
                    <%= `${wx.temp.min}°${wx.temp.unit}` %>
                </span>
                <span class="text-danger mx-1">
                    <i class="bi bi-thermometer-high"></i>
                    <%= `${wx.temp.max}°${wx.temp.unit}` %>
                </span>
            </div>
        </div>
    <% }) %>
    <% if (forecasts.length == 0) { %>
        <div class="d-flex flex-row justify-content-center align-items-center my-1 round-border" style="height: 5rem;">
            <span class="text-danger">
                Forecast Not Available
            </span>
        </div>
    <% } %>
</div>